
NewsAggregator/obj/Debug/net8.0/NewsAggregator.csproj.AssemblyReference.cache
NewsAggregator/obj/Debug/net8.0/NewsAggregator.assets.cache
NewsAggregator/obj/Debug/net8.0/NewsAggregator.AssemblyInfoInputs.cache
NewsAggregator/obj/project.nuget.cache
NewsAggregator/obj/rider.project.restore.info
NewsAggregator/obj/rider.project.model.nuget.info
NewsAggregator/obj/Debug/net8.0/NewsAggregator.GeneratedMSBuildEditorConfig.editorconfig
NewsAggregator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
NewsAggregator/obj/Debug/net8.0/NewsAggregator.GlobalUsings.g.cs
NewsAggregator/obj/Debug/net8.0/NewsAggregator.AssemblyInfo.cs
NewsAggregator/.DS_Store
/NewsAggregator/obj/Debug
/NewsAggregator/bin/Debug
.DS_Store
NewsAggregator/obj/NewsAggregator.csproj.nuget.dgspec.json
NewsAggregator/obj/NewsAggregator.csproj.nuget.g.props
NewsAggregator/Migrations/20241230134943_InitialCreate.Designer.cs
NewsAggregator/Migrations/20241130193319_InitialCreate.Designer.cs
NewsAggregator/Migrations/20241130193319_InitialCreate.Designer.cs
NewsAggregator/Folder.DotSettings.user
NewsAggregator/obj/NewsAggregator.csproj.EntityFrameworkCore.targets
NewsAggregator/obj/NewsAggregator.csproj.nuget.g.targets
NewsAggregator/obj/project.assets.json
NewsAggregator/obj/project.packagespec.json
NewsAggregator/.env
